body {
    background-color: rgb(225, 227, 224);
    background: url(pixel.jpg);
}
.navbar {
    overflow: hidden;
    background-color: rgb(24, 121, 136);
    border-radius: 1%;
}

.heading {
    font-size: 16px;
}

.navbar a {
    float: right;
    text-align: right;
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-size: 19px;
    padding: 15px 22px;
    border: 0;

}

.navbar a:hover {
    color: rgb(184, 173, 173);
    background-color: rgb(8, 33, 43);
    border-radius: 35px;
}

form {
    border: 1px solid rgb(23, 104, 121);
    height: 650px;
    width: 450px;
    margin: 100px auto;
    background-color: rgb(24, 121, 136);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

div {
    margin: auto;
    padding: 10px;
    text-align: center; 
}

button {
    background-color: aquamarine;
    border: aquamarine solid 2px;
    border-radius: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 8px;
}

button:hover {
    color: rgb(249, 251, 251);;
    background-color: rgb(8, 33, 43);
    
}

input  {
    border-radius: 5px;
}

select {
    border-radius: 5px;
    border: 2px solid;
}

.login_link {
    padding: 1px;
}

a {
    color: rgb(6, 68, 64);
}

a:hover {
    color: rgb(6, 68, 64);
    
}

h1 {
    color: rgb(230, 227, 226);
}